<div
  class="flex flex-col absolute top-0 bottom-0 right-0 left-0"
  [class.example-is-mobile]="isMobile()"
>
  <mat-toolbar class="example-toolbar fixed sm:static z-10">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="flex-[1_0_auto] sm:flex-[1] w-full h-full"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [opened]="true"
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item href="{{ routePaths.employeesList }}">Employee list</a>
        <a mat-list-item href="{{ routePaths.addEmployee }}">Add Employee</a>
        <a mat-list-item href="{{ routePaths.chat }}">Chat</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
