<div
  class="flex flex-col absolute top-0 bottom-0 right-0 left-0"
  [class.example-is-mobile]="isMobile()"
>
  <mat-toolbar class="fixed sm:static z-10 border-b-1">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="flex-[1_0_auto] sm:flex-[1] w-full h-full"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [opened]="true"
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
    >
      <mat-nav-list class="flex flex-col gap-2">
        @for (item of menuItems(); track $index) {
        <a mat-list-item href="{{ item.route }}">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon
          ><span matListItemTitle>{{ item.label }}</span>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
